/* Base Application Styles */
html,body{
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  background-color: #222;

}

#app{
  width: 100%;
  height: 100%;
}

/*stage start*/
.stage {
  position: relative;
  width: 100%;
  height: 100%;/*视频中为680px*/
}

/*stage end*/

/*images start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #fff4c2;/*视频中为ddd*/
}

/*images end*/

/*nav-control start*/
.nav-control{
  position: absolute;
  bottom: 30px;
  /*left: 0*/
  z-index: 101;
  width: 100%;
  text-align: center;
}
/*nav-control end*/
